@import url(style.css);
@import url(shop.css);
@import url(details.css);

.btn-update {
  background-color: #2577fd;
  border: 1px solid #2577fd;
  transition: 0.3s;
  color: #fff;
}

.btn-update:hover {
  background-color: transparent;
  color: #ff2020;
}

.desc {
  font-size: 12px;
  font-weight: 600;
}

.fit {
  width: fit-content;
}

.fit img {
  height: 200px;
  width: 200px;
}

@media (max-width: 787px) {
  .fit {
    display: flex;
    flex-direction: column;
  }
}
