@import url(style.css);
@import url(shop.css);

.btn-products:hover {
  color: black !important;
  background-color: #ff2020;
}

a {
  text-decoration: none;
}

.gray-text {
  color: #777;
  font-size: 15px;
}

@media (max-width: 767px) {
  .map {
    display: none;
  }
}
