@import url(style.css);

.about-hero {
  background-image: url("/assets/images/about_hero.webp");
  height: 97vh;
  background-position: center;
  background-size: cover;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
}

.about-heading h1 {
  font-size: 65px;
  font-weight: 900;
}

.tabs {
  border: 1px solid #777;
}

.btn-group {
  background-color: #f2f2f2;
}

@media (max-width: 767px) {
  .about-heading h1 {
    font-size: 45px;
  }
}
