@import url(style.css);

.about-hero {
  background-image: url("/assets/images/about_hero.webp");
  height: 97vh;
  background-position: center;
  background-size: cover;
}

.about-heading h1 {
  font-size: 65px;
  font-weight: 900;
}

@media (max-width: 767px) {
  .about-heading h1 {
    font-size: 45px;
  }
}
